<body data-new-gr-c-s-check-loaded="14.1115.0" data-gr-ext-installed="" cz-shortcut-listen="true">
  <section data-bs-version="5.1" class="menu menu1 cid-sQaxniv33D" once="menu" id="menu1-k">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
          data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="navbar-brand">
          <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-5"
              href=""><strong>Dananz</strong>
            </a></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item"><a class="nav-link link text-black display-4" href="">
                Home</a></li>
            <li class="nav-item"><a class="nav-link link text-black display-4" href="">
                About Us</a></li>
            <li class="nav-item"><a class="nav-link link text-black display-4" href="">Services</a>
            </li>
            <li class="nav-item"><a class="nav-link link text-black display-4" href="">Our Teams</a>
            </li>
          </ul>
          <div class="navbar-buttons mbr-section-btn">
            <a class="btn btn-primary display-7" href="">
              Contact Us</a>
          </div>
        </div>
      </div>
    </nav>
  </section>

  <!-- <section data-bs-version="5.1" class="header5 cid-sQax1yoPtP" id="header5-j">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-text">
          <div class="text-wrapper">

            <h2 class="mbr-section-title mbr-fonts-style display-1"><strong>TRY TO
              </strong>
              <div><strong>CHANGE!</strong></div>
            </h2>

            <div class="btn-container">
              <div class="mbr-section-btn"><a class="btn btn-white-outline display-7" href="">Shop now</a></div>
            </div>
          </div>
          <svg class="radial-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 239"
            preserveAspectRatio="xMidYMid slice">
            <path xmlns="http://www.w3.org/2000/svg" d="M0 0H59C35.7061 95.0071 34.4159 147.624 59 239H0V0Z"></path>
          </svg>
        </div>
        <div class="col-12 col-md-6">

        </div>
      </div>
    </div>
  </section> -->

  <section data-bs-version="5.1" class="gallery1 cid-sPTT6KlDDA" id="gallery1-d">
    <div class="container">
      <div class="mbr-section-head">
        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Minimalist Room</strong></h4>
        <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-4"><strong>JUST FOR YOU</strong>
        </h5>
      </div>

      <div class="row">
        <div class="item features-image сol-12 col-md-6 col-lg-6">
          <div class="item-wrapper">
            <div class="">
              <h3 class="mbr-section-subtitle mbr-fonts-style mb-0 mt-2 display-4">Project Overview</h3>
              <span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's
                standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It
                has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It
                was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
            </div>
          </div>
        </div>
        <div class="item features-image сol-12 col-md-6 col-lg-6">
          <div class="item-wrapper">
            <div class="item-img">
              <h3 class="mbr-section-subtitle mbr-fonts-style mb-0 mt-2 display-4">Design Process</h3>
              <span>is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has
                been the industry's
                standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It
                has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It
                was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item features-image сol-12 col-md-6 col-lg-6">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="../../../assets/images/pexels-li-sun-2475878.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="item features-image сol-12 col-md-6 col-lg-6">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="../../../assets/images/pexels-mister-mister-3490348.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item features-image сol-12 col-md-12 col-lg-12" style="max-height: 500px;">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="../../../assets/images/pexels-li-sun-2475878.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item features-image сol-12 col-md-6 col-lg-6">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="../../../assets/images/pexels-li-sun-2475878.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="item features-image сol-12 col-md-6 col-lg-6">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="../../../assets/images/pexels-mister-mister-3490348.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container" style="    background: #2C3878;
    color: white;">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-text">
        <div class="p-50">
          <h2 class="mbr-section-title mbr-fonts-style display-5"><strong>let's discuss making your interior
              <br />
              like a dream place!
            </strong>
          </h2>
        </div>
      </div>
      <div class="col-12 col-md-6 p-10">
        <div class="">
          <h2 class="mbr-section-title mbr-fonts-style display-7"><strong>
              Contact us below to work together to build your amazing interior
            </strong>
          </h2>
        </div>
        <div class=" mbr-section-title navbar-buttons mbr-section-btn">
          <a class="btn btn-contact display-7" href="">
            Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-text">
        <div class="p-50">
          <h2 class="mbr-section-title mbr-fonts-style display-5"><strong>One of the best furniture
              <br />
              agency.
            </strong>
          </h2>
        </div>
      </div>
      <div class="col-12 col-md-6 p-10">
        <div class="">
          <h2 class="display-7">
            <ul>
              <li>
                <strong>
                  Enter your email to get the latest news
                </strong>
              </li>
            </ul>
          </h2>
        </div>
        <div class="row">
          <input type="text" placeholder="Email address">
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 p-10">

      </div>
      <div class="col-12 col-md-4 p-10">
        <div class="p-35">follow us on</div>
        <div class="buttonContainer">
          <a class="btn btn-default" type="button" href="#"><i class="fa fa-facebook"> </i> </a>
          <a class="btn btn-default" type="button" href="#"> <i class="fa fa-instagram"></i> </a>
          <a class="btn btn-default" type="button" href="#"><i class="fa fa-twitter"></i> </a>
          <a class="btn btn-default" type="button" href="#"> <i class="fa fa-youtube"></i> </a>
        </div>

      </div>
    </div>
  </div>
</body>